<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ukma.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_local_library_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SignInActivity"
            android:label="@string/sign_in"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SignUpActivity"
            android:label="@string/sign_up"
            android:parentActivityName=".SignInActivity" />

        <activity
            android:name=".ReaderActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".SignInActivity" />

        <activity
            android:name=".LibraryActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".ReaderActivity" />

        <activity
            android:name=".LibrarianMainActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".SignInActivity" />

        <activity
            android:name=".LibrarianActionActivity"
            android:label=""
            android:launchMode="singleTop"
            android:parentActivityName=".LibrarianMainActivity" />

        <activity android:name=".ToolbarActivity" />
        <activity android:name=".ToolbarLibrarianActivity" />
        <activity android:name=".ToolbarReaderActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>